{%  include 'base.html' %}
<body>
{% block body %}

<div class="container my-container">
    <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'homepage:home' %}"><button type="button" class="btn btn-primary">Home</button></a>
            <a href="{% url 'password_change' %}"><button type="button" class="btn btn-primary" >Change Password</button></a>
            <a><button type="button" class="btn btn-secondary" disabled>Username: {{ user.username }} </button></a>
            <a href="{% url 'logout' %}"><button type="button" class="btn small btn-danger">Logout</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col_1">


            <h5>User list: </h5>
                {% for user in users %}
                    <li class="list-group">
                        <a href="{% url 'homepage:detail' user.id  %}"
                            class="list-group-item list-group-item-action active">{{ user.username }}</a>

                        <form action="{% url 'homepage:create_room' %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" value="{{ user.id }}" name="user2">
                        <button class="btn btn-secondary btn-sm" type="submit">Chat</button></form>
                    </li>
                {% endfor %}

        </div>


        <div class="col-8">
            <ul class="list-inline">
                <h1>User details!</h1>
                <li >
                    <h5>Username: {{ object.username }}</h5>
                    <h5>Name: {{ object.first_name }} {{ object.last_name }}</h5>
                    <h5>Age: {{ object.userprofile.age }}</h5>
                    <h5>Email: {{ object.email }}</h5>
                    <h5>userid: {{ object.id }}</h5>
                </li>
            </ul>
        <form action="{% url 'homepage:create_room' %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" value="{{ user_object.id }}" name="user2">
                        <button type="submit" class="btn btn-secondary">Chat with this user</button></form>

        </div>
    </div>

</div>
</body>
{% endblock %}