{% include 'base.html' %}
<body>
{% block body %}

    {% if user.is_authenticated %}
    <style>
        .my-container {
            border: 2px solid dodgerblue;
        }
    
    </style>

        <div class="container my-container">
            <div class="row my-row">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'homepage:home' %}"><button type="button" class="btn btn-primary">Home</button></a>
                    <a href="{% url 'password_change' %}"><button type="button" class="btn btn-primary" >Change Password</button></a>
                    <a><button type="button" class="btn btn-secondary" disabled>Username: {{ user.username }} </button></a>
                    <a href="{% url 'logout' %}"><button type="button" class="btn small btn-danger">Logout</button></a>

                </div>
            </div>
        </div>

        <div class="container my-container">
            <div class="row ">
            <div class="col-4 col_1" >
                <h5>User list: </h5>
                    <ul>
                        {% for result in object_list %}
                         <li class="list-group " >
                            <a href="{% url 'homepage:detail' result.id  %}"
                                class="list-group-item list-group-item-action active" aria-current="true">{{ result }}</a>
                            <form action="{% url 'homepage:create_room' %}" method="post">
                        {% csrf_token %}
                            <input type="hidden" value="{{ result.id }}" name="user2">
                            <button class="btn btn-secondary btn-sm" type="submit">Chat</button></form>
                        </li>

                    {% endfor %}
                </ul>
            </div>


            <div class="col-8">
                <h1>Homepage</h1>
                <p>Welcome to the messenger app!</p>
                <h6>A few instructions</h6>
                <ul >
                    <li><p>You can access the user details by clicking on the blue bars!</p></li>
                    <li><p>You can chat with someone by clicking on the grey button under the blue bars! </p></li>

                </ul>
            </div>
            </div>
        </div>

    {% else %}
        <li class="form-control">
        <h4>You are not authenticated, please login!</h4>

        <a href="{% url 'login' %}"><button class="btn btn-secondary btn-sm">Login!</button></a>
        <a style="align-content: center">or</a>
        <a href="{% url 'signup' %}"><button class="btn btn-secondary btn-sm">Signup!</button></a>
        <a href="{% url 'password_reset' %}"><button class="btn btn-secondary btn-sm">if you forgot your password CLICK ME!</button></a>
        </li>
    {% endif %}
</body>
{% endblock %}